RewriteEngine On
RewriteBase /
RewriteRule ^api/(.*)$ backend/public/api/$1 [L,QSA]
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
